@import './../../../assets/scss/_config-base';

.fv-videos {
  margin-top: 56px;

  &__loader {
    @extend %loader;
  }

  &__container {
    &.is--hidden {
      filter: blur(5px);
    }
  }

  &__heading {
    @include rem(margin-top, 85px);
    @include rem(font-size, 36px);
    color: $color-primary;

    @include mq('xs', max) {
      @include rem(font-size, 28px);
    }
  }

  &__grid {
    @extend %cards--grid;

    &-items {
      @extend %cards--items;
    }

    &-item {
      @extend %cards--item;
    }

    &-image {
      @extend %cards--image;
    }

    &-data {
      @extend %cards--data;
    }

    &-title {
      @extend %cards--title;
    }

    &-views {
      @extend %cards--views;
    }

    &-button {
      @extend %cards--button;
    }

    &-loading {
      @extend %cards--loading;
    }
  }
}
