<section class="fv-videos js--videos">
  <div [class]="videos.loading ? 'fv-videos__loader is--active' : 'fv-videos__loader'">
    <h2>Carregando <span>.</span><span>.</span><span>.</span></h2>
  </div>
  <div [class]="videos.loading ? 'fv-videos__container fv-container is--hidden' : 'fv-videos__container fv-container'">
    <h2 class="fv-videos__heading">Todos os vídeos do canal</h2>
    <div class="fv-videos__grid">
      <div class="fv-videos__grid-items js--videos-grid-items">
        <div class="fv-videos__grid-item" *ngFor="let video of videos.dataVideos" (click)="openModal(video)">
          <figure class="fv-videos__grid-image js--videos-image">
            <img [src]="video.snippet.thumbnails.medium.url" alt="Video">
          </figure>
          <div class="fv-videos__grid-data">
            <p class="fv-videos__grid-title js--videos-title">
              {{ video?.snippet.title }}
            </p>
            <div class="fv-videos__grid-views">
              <img src="assets/img/icons/view-gray.png" alt="Visualizações">
              <span class="js--videos-views">{{ video?.statistics.viewCount | views }} views</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fv-videos__grid-button js--videos-grid-button">
        <button type="button" (click)="loadMoreVideos()">Carregar mais vídeos...</button>
      </div>
      <div class="fv-videos__grid-loading js--videos-grid-loading">
        <figure>
          <img src="assets/img/loading.gif" alt="Carregando..." />
        </figure>
      </div>
    </div>
  </div>
</section>
