// Buttons
%btn {
  @include font-weight(regular);
  @include rem(padding, 6px 8px);
  @include rem(letter-spacing, 1px);
  @include rem(font-size, 9px);
  @include rem(border-radius, 5px);
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.2s ease-in;

  &--primary {
    @extend %btn;
  }

  &--primary {
    background-color: #ffffff;
    border-color: $color-gray;
    color: #797979;

    &:hover {
      background-color: #797979;
      border-color: #797979;
      color: #ffffff;
    }
  }
}
