%cards {
  &--grid {
    @include rem(margin-top, 20px);
    @include rem(margin-bottom, 30px);
  }

  &--items {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-gap: 15px;

    @include mq('lg', max) {
      grid-template-columns: repeat(2, 50%);
    }

    @include mq('md', max) {
      grid-template-columns: 100%;
    }
  }

  &--item {
    cursor: pointer;
    display: flex;
    opacity: .7;
    transition: .3s ease-in-out;

    @include mq('xs', max) {
      flex-direction: column;
    }

    &:hover {
      opacity: 1;
    }
  }

  &--image {
    flex-basis: 50%;
    
    @include mq('lg', max) {
      flex-basis: 190px;
    }

    @include mq('xs', max) {
      flex-basis: 100%;
    }

    img {
      @include rem(height, 100px);

      @include mq('xs', max) {
        @include rem(height, 140px);
        width: 100%;
      }
    }
  }

  &--data {
    @include rem(padding-left, 10px);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq('lg', max) {
      flex-basis: 100%;
      flex: 1;
    }

    @include mq('xs', max) {
      @include rem(padding, 10px 0);
    }
  }

  &--title {
    @include rem(font-size, 18px);
    @include rem(height, 65px);
    margin: 0;
    color: $color-primary;
    overflow: hidden;
    position: relative;

    /* &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, #ffffff);
    } */
  }

  &--views {
    @include rem(font-size, 14px);
    color: $color-gray;

    img {
      @include rem(margin-right, 5px);
      vertical-align: sub;
    }
  }

  &--button {
    @include rem(margin-top, 20px);
    text-align: center;

    button {
      @extend %btn--primary;
      @include rem(width, 363px);

      @include mq('xs', max) {
        width: 90%;
      }
    }

    &.is--hidden {
      display: none;
    }
  }

  &--loading {
    @include rem(margin-top, 20px);
    display: none;

    &.is--active {
      display: block;
    }

    figure {
      text-align: center;

      img {
        @include rem(width, 25px);
        @include rem(height, 25px);
      }
    }
  }
}