// Loader
@keyframes loader {
  0% { transform: translateY(0%); }
  33% { transform: translateY(-30%); }
  100% { transform: translateY(0%); }
}

%loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  transition: .3s ease;
  &:not(.is--active) {
    transform: scale(0);
  }
  h2 {
    @include rem(font-size, 40px);
    @include rem(letter-spacing, 1px);
    @include font-weight(bold);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-primary;
    @include mq('md', max) {
      @include rem(font-size, 35px);
      width: 100%;
      text-align: center;
    }
  }
  span {
    display: inline-block;
    &:nth-child(1) {
      animation: loader 1s infinite;
    }
    &:nth-child(2) {
      animation: loader 1s infinite .2s;
    }
    &:nth-child(3) {
      animation: loader 1s infinite .4s;
    }
  }
}
