%viewsDateCommon {
  @include rem(height, 20px);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;

  @include mq('sm', max) {
    justify-content: flex-end;
  }

  img {
    cursor: pointer;
  }
}

%textViewsDateCommon {
  @include rem(padding, 10px 15px);
  @include rem(width, 190px);
  @include rem(font-size, 14px);
  @include rem(border-radius, 5px);
  display: none;
  position: absolute;
  top: -65px;
  background: #ffffff;
  text-align: center;
  color: #4C4C4C;
  border: 3px solid #E6E6E6;

  @include mq('sm', max) {
    right: -25px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 45%;
    width: 15px;
    height: 15px;
    background-color: #E6E6E6;
    transform: rotate(45deg);
    z-index: -1;

    @include mq('sm', max) {
      left: auto;
      right: 25px;
    }
  }
}

%preview {
  &--info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--title {
    @include rem(font-size, 18px);
    flex-basis: 80%;
    color: $color-primary;

    @include mq('xs', max) {
      @include rem(font-size, 16px);
      flex-basis: 73%;
    }
  }

  &--data {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;

    @include mq('xs', max) {
      flex-basis: 25%;
    }
  }

  &--views {
    @extend %viewsDateCommon;
  }

  &--views-text {
    @extend %textViewsDateCommon;
  }

  &--date {
    @extend %viewsDateCommon;
    @include rem(margin-left, 10px);

    @include mq('xs', max) {
      @include rem(margin-left, 5px);
    }
  }

  &--date-text {
    @extend %textViewsDateCommon;
  }

  &--description {
    @include rem(font-size, 14px);
    @include rem(line-height, 20px);
    flex-basis: 100%;
  }
}