%scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #797979;
  }
}
