@import './../../../assets/scss/_config-base';

.fv-home {
  margin-top: 56px;

  &__container {
    @include rem(margin-top, 85px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &.is--hidden {
      filter: blur(5px);
    }
  }

  &__loader {
    @extend %loader;
  }

  &__spotlight,
  &__videos {
    &--heading {
      @include rem(margin-bottom, 30px);
      @include rem(font-size, 36px);
      color: $color-primary;

      @include mq('xs', max) {
        @include rem(font-size, 28px);
      }
    }
  }

  &__spotlight {
    @include rem(padding, 15px);
    flex-basis: 60%;

    @include mq('lg', max) {
      flex-basis: 100%;
    }

    &--video {
      @include rem(margin-bottom, 30px);
    }

    &--info {
      @extend %preview--info;
      @include rem(padding, 25px);
      @include rem(height, 200px);
      border: 1px solid $color-gray;
      box-shadow: 0px 4px 10px -2px $color-gray;

      @include mq('lg', max) {
        height: auto;
      }

      &.is--active {
        height: auto;
      }

      &-title {
        @extend %preview--title;
      }

      &-data {
        @extend %preview--data;
      }

      &-views {
        @extend %preview--views;
        $views: &;

        &:hover {
          #{$views}-text {
            display: block;
          }
        }

        &-text {
          @extend %preview--views-text;
        }
      }

      &-date {
        @extend %preview--date;
        $date: &;

        &:hover {
          #{$date}-text {
            display: block;
          }
        }

        &-text {
          @extend %preview--date-text;
        }
      }

      &-description {
        @extend %preview--description;
        @include rem(height, 70px);
        cursor: pointer;
        position: relative;
        overflow-y: hidden;
        transition: .3s ease;

        &.is--active {
          overflow: auto;
          height: auto;

          &::after {
            display: none;
          }
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(transparent, rgba(#ffffff, .7), rgba(#ffffff, .9));
        }
      }
    }
  }

  &__videos {
    @include rem(padding, 15px);
    flex-basis: 40%;

    @include mq('lg', max) {
      flex-basis: 100%;
    }

    &--cards {
      @include rem(padding, 15px);
      border: 1px solid $color-gray;
      box-shadow: 0px 4px 10px -2px $color-gray;

      $cards: &;

      &-items {
        height: 478px;
        padding-right: 6px;
        margin-bottom: 10px;
        overflow-y: auto;

        @extend %scrollbar;
      }

      &-item {
        @extend %cards--item;
        @include rem(margin, 15px 0);

        &:first-child {
          @include rem(margin, 0 0 15px);
        }
      }

      &-image {
        @extend %cards--image;
      }

      &-data {
        @extend %cards--data;
      }

      &-title {
        @extend %cards--title;
      }

      &-views {
        @extend %cards--views;
      }

      &-button {
        @extend %cards--button;
        margin-top: 0;

        button {
          width: 100%;
        }
      }

      &-loading {
        @extend %cards--loading;
        margin-top: 0;
      }
    }
  }
}
