<section class="fv-home js--home">
  <div [class]="home.loading ? 'fv-home__loader is--active' : 'fv-home__loader'">
    <h2>Carregando <span>.</span><span>.</span><span>.</span></h2>
  </div>
  <div [class]="home.loading ? 'fv-home__container fv-container is--hidden' : 'fv-home__container fv-container'">
    <div  class="fv-home__spotlight">
      <h2 class="fv-home__spotlight--heading">Vídeo em destaque</h2>
      <div class="fv-home__spotlight--video js--home-spotlight-video"></div>
      <div class="fv-home__spotlight--info js--home-spotlight-info">
        <h3 class="fv-home__spotlight--info-title js--home-spotlight-title"></h3>
        <div class="fv-home__spotlight--info-data">
          <div class="fv-home__spotlight--info-views">
            <img src="assets/img/icons/view-blue.png" alt="Visualizações">
            <div class="fv-home__spotlight--info-views-text js--home-spotlight-views"></div>
          </div>
          <div class="fv-home__spotlight--info-date">
            <img src="assets/img/icons/date.png" alt="Data Publicação">
            <div class="fv-home__spotlight--info-date-text js--home-spotlight-date"></div>
          </div>
        </div>
        <p class="fv-home__spotlight--info-description js--home-spotlight-description" (click)="showDescription()"></p>
      </div>
    </div>
    <div class="fv-home__videos">
      <h2 class="fv-home__videos--heading">+ Vídeos</h2>
      <div class="fv-home__videos--cards">
        <div class="fv-home__videos--cards-items">
          <div class="fv-home__videos--cards-item" *ngFor="let video of home.dataVideos" (click)="setSpotlight(video)" >
            <figure class="fv-home__videos--cards-image js--home-cards-image">
              <img [src]="video.snippet.thumbnails.medium.url" alt="Video">
            </figure>
            <div class="fv-home__videos--cards-data">
              <p class="fv-home__videos--cards-title js--home-cards-title">
                {{ video?.snippet.title }}
              </p>
              <div class="fv-home__videos--cards-views">
                <img src="assets/img/icons/view-gray.png" alt="Visualizações">
                <span class="js--home-cards-views">{{ video?.statistics.viewCount | views }} views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="fv-home__videos--cards-button js--home-cards-button">
          <button type="button" (click)="loadMoreVideos()" >Carregar mais vídeos...</button>
        </div>
        <div class="fv-home__videos--cards-loading js--home-cards-loading">
          <figure>
            <img src="assets/img/loading.gif" alt="Carregando...">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
