@import './../../../../assets/scss/_config-base';

.fv-header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-primary;
  z-index: 10;

  .fv-icon {
    @include rem(width, 16px);
    @include rem(height, 16px);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__actions {
    display: flex;
    align-items: center;
    height: 100%;

    &--search {
      @include rem(padding, 10px);
      @include rem(border-radius, 5px);
      border: 1px solid transparent;
      transition: .5s ease .2s;

      &.is--active {
        @include mq('md') {
          background-color: rgba(#000000, .15);
          border-color: #FFFFFF;
        }
      }

      &-button {
        @include rem(width, 16px);
        @include rem(height, 16px);
        transition: .3s ease;
        transform: scale(0);

        &.is--active {
          @include mq('md') {
            transform: scale(1);
          }
        }
      }

      img {
        @include rem(margin-left, 10px);
        cursor: pointer;

        &:hover {
          opacity: .5;
        }
      }

      &-input {
        @include rem(font-size, 14px);
        width: 0;
        background: transparent;
        border: none;
        color: #FFFFFF;
        transition: .5s ease;

        &::placeholder {
          color: #FFFFFF;
        }

        &.is--active {
          @include mq('md') {
            @include rem(width, 245px);
          }
        }
      }

      &-mobile {
        @include rem(height, 50px);
        position: absolute;
        top: 56px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $color-primary;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: .3s ease;

        &.is--active {
          @include mq('md', max) {
            opacity: 1;
            visibility: visible;
            transform: translateY(0%);
          }
        }

        &-input {
          @include rem(width, 350px);
          @include rem(padding, 10px);
          @include rem(font-size, 14px);
          @include rem(border-radius, 5px);
          background-color: rgba(#000000, .15);
          border: 1px solid #FFFFFF;
          color: #FFFFFF;

          @include mq('xs', max) {
            width: 80%;
          }

          &::placeholder {
            color: #FFFFFF;
          }
        }

        &-button {
          @include rem(width, 16px);
          @include rem(height, 16px);
          transition: .3s ease;
          visibility: hidden;
          opacity: 0;
          transform: translateX(110%);

          &.is--active {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }

    &--menu {
      @include rem(margin-left, 25px);
      cursor: pointer;
      position: relative;
      height: 100%;

      $menu: &;

      &:hover {
        #{$menu}-dropdown {
          visibility: visible;
          opacity: 1;
        }
      }

      &-text {
        display: flex;
        align-items: center;
        height: 100%;
        color: #FFFFFF;

        &:hover {
          opacity: .5;
        }

        span {
          @include mq('xs', max) {
            display: none;
          }
        }

        img {
          @include rem(margin-left, 5px);
        }
      }

      &-dropdown {
        @include rem(padding, 10px);
        @include rem(width, 273px);
        @include rem(border-radius, 5px);
        cursor: default;
        position: absolute;
        top: 57px;
        right: -20px;
        background-color: #FFFFFF;
        border: 1px solid $color-gray;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;

        &::before {
          content: '';
          position: absolute;
          top: -9px;
          right: 18px;
          width: 15px;
          height: 15px;
          background-color: #FFFFFF;
          transform: rotate(45deg);
          border-left: 1px solid $color-gray;
          border-top: 1px solid $color-gray;
        }

        &-image {
          @include rem(margin-right, 7px);
          vertical-align: bottom;
        }

        &-link {
          @include rem(padding, 13px);
          @include rem(border-radius, 5px);
          display: inline-block;
          width: 100%;
          color: #797979;
          box-sizing: border-box;

          &:hover {
            background-color: #F2F2F2;
          }

          &:focus {
            background-color: #E6E6E6;
          }
        }
      }
    }
  }
}
