<header class="fv-header js--header">
  <div class="fv-header__container fv-container">
    <div class="fv-header__logo">
      <figure class="fv-header__logo--container">
        <img
          class="fv-header__logo--image"
          src="assets/img/FicticiaVideos.png"
          alt="Fictícia Vídeos"
          title="Fictícia Vídeos"
        />
      </figure>
    </div>
    <div class="fv-header__actions">
      <div class="fv-header__actions--search js--header-search">
        <input class="fv-header__actions--search-input js--header-search-input"
               type="text"
               placeholder="Digite sua busca"
               [(ngModel)]="searchTerm"
               (keyup)="onKey($event)" >

        <img [class]="searchTerm.length ? 'fv-header__actions--search-button is--active' : 'fv-header__actions--search-button'"
             src="assets/img/icons/go-button.svg"
             alt="Buscar"
             (click)="doSearch()"/>

        <img class="fv-icon" src="assets/img/icons/search.svg" alt="Lupa" (click)="toggleInputSearch()"/>
        <div class="fv-header__actions--search-mobile js--header-search-mobile">
          <input class="fv-header__actions--search-mobile-input js--header-search-mobile-input"
                 type="text"
                 placeholder="Digite sua busca"
                 [(ngModel)]="searchTerm"
                 (keyup)="onKey($event)">

          <img [class]="searchTerm.length ? 'fv-header__actions--search-mobile-button is--active' : 'fv-header__actions--search-mobile-button'"
               src="assets/img/icons/go-button.svg"
               alt="Buscar"
               (click)="doSearch()"/>
        </div>
      </div>
      <div class="fv-header__actions--menu">
        <span class="fv-header__actions--menu-text">
          <span>Menu</span>
          <img class="fv-icon" src="assets/img/icons/menu.svg" alt="Menu" />
        </span>
        <nav class="fv-header__actions--menu-dropdown">
          <ul class="fv-header__actions--menu-dropdown-items">
            <li class="fv-header__actions--menu-dropdown-item">
              <a class="fv-header__actions--menu-dropdown-link" routerLink="/home">
                <img class="fv-header__actions--menu-dropdown-image" src="assets/img/icons/star.png" alt="Destaques">
                Destaques
              </a>
            </li>
            <li class="fv-header__actions--menu-dropdown-item">
              <a class="fv-header__actions--menu-dropdown-link" routerLink="/videos">
                <img class="fv-header__actions--menu-dropdown-image" src="assets/img/icons/video.png" alt="Vídeos">
                Vídeos</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
