
html {
  @include rem-baseline;
  font-weight: $font-weight-base;
  font-family: $font-main;
  cursor: default;
  height: 100%;
  word-break: break-word;
}

body {
  @extend %scrollbar;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;

  &.has--no-scroll {
    overflow: hidden;
  }
}

/**
* Mobile Fast Click
* Clicking links, buttons, and form fields will be
* a lot quicker and responsive on touch devices.
*/
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

// Hand cursor on clickable input elements
a,
input[type='button'],
input[type='submit'],
input[type='file'],
input[type='image'],
button {
  cursor: pointer;
}


input[type='text'] {
  outline: none;
}

@include headings {
  font-size: $font-size;
  font-weight: $font-weight-base;
  margin: 0;
}

a {
  @include reset-link;
}

ul,
ol {
  @include reset-list;
}

img {
  @include reset-media;
}

figure {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

div {
  box-sizing: border-box;
}
