<section class="fv-search js--search">
  <div [class]="search.loading ? 'fv-search__loader is--active' : 'fv-search__loader'">
    <h2>Carregando <span>.</span><span>.</span><span>.</span></h2>
  </div>
  <div [class]="search.loading ? 'fv-search__container fv-container is--hidden' : 'fv-search__container fv-container'">
    <h2 class="fv-search__heading">Resultados para: {{ search.searchTerm }}</h2>
    <div class="fv-search__emptySearch" *ngIf="search.emptySearch">
      Nenhum resultado encontrado ...
    </div>
    <div class="fv-search__grid">
      <div class="fv-search__grid-items">
        <div class="fv-search__grid-item" *ngFor="let video of search.dataVideos" (click)="openModal(video)">
          <figure class="fv-search__grid-image">
            <img [src]="video.snippet.thumbnails.medium.url" alt="Video" />
          </figure>
          <div class="fv-search__grid-data">
            <p class="fv-search__grid-title">
              {{ video?.snippet.title }}
            </p>
            <div class="fv-search__grid-views">
              <img src="assets/img/icons/view-gray.png" alt="Visualizações" />
              <span>{{ video?.statistics.viewCount | views }} views</span>
            </div>
          </div>
        </div>
      </div>
      <div class="fv-search__grid-button js--search-grid-button" *ngIf="!search.emptySearch">
        <button type="button" (click)="loadMoreVideos()">Carregar mais vídeos...</button>
      </div>
      <div class="fv-search__grid-loading js--search-grid-loading">
        <figure>
          <img src="assets/img/loading.gif" alt="Carregando..." />
        </figure>
      </div>
    </div>
  </div>
</section>
