.fv-container {
  @include mq('xl') {
    @include rem(width, 1100px);
    margin: 0 auto;
    padding: 0 !important;
  }
  @include mq('md') {
    @include rem(padding, 0 60px);
  };

  @include mq('sm') {
    @include rem(padding, 0 50px);
  };

  @include mq('sm', max) {
    @include rem(padding, 0 30px);
  };

  @include mq('xs', max) {
    @include rem(padding, 0 10px);
  };
}
