.fv-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(black, .3);

  &__container {
    height: 100%;
    width: 100%;
    transition: .5s ease;

    &.slide {
      transform: translateY(-110%);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__wrap {
    @include rem(width, 600px);
    @include rem(padding, 10px 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $color-gray;
    background-color: #ffffff;
    transition: .3s ease;

    @include mq('md', max) {
      width: 95%;
    }

    &.is--hidden {
      display: none;
    }

    &.has--overflow {
      @extend %scrollbar;
      height: 95%;
      overflow-y: auto;
    }
  }

  &__heading {
    @include rem(margin-bottom, 10px);
    text-align: right;

    &--close {
      @include rem(padding, 0 5px);
      @include rem(font-size, 20px);
      @include font-weight(black);
      cursor: pointer;
      border-radius: 50%;
      color: $color-modal-close;
      transition: .3s ease;

      &:hover {
        background-color: $color-modal-close;
        color: #ffffff;
      }

      &:active {
        background-color: $color-modal-close-focus;
        color: #ffffff;
      }
    }
  }

  &__body {
    &--video {
      height: 310px;
    }

    &--info {
      @extend %preview--info;
      @include rem(margin-top, 20px);

      &-title {
        @extend %preview--title;
      }

      &-data {
        @extend %preview--data;
      }

      &-views {
        @extend %preview--views;
        $views: &;

        &:hover {
          #{$views}-text {
            display: block;
          }
        }

        &-text {
          @extend %preview--views-text;
        }
      }

      &-date {
        @extend %preview--date;
        $date: &;

        &:hover {
          #{$date}-text {
            display: block;
          }
        }

        &-text {
          @extend %preview--date-text;
        }
      }

      &-description {
        @extend %preview--description;
        @extend %scrollbar;
        @include rem(padding-right, 6px);
        @include rem(height, 150px);
        overflow-y: auto;
      }
    }
  }
}