// Colors
$color-primary           : #A8395C;
$color-background        : #FFFFFF;
$color-gray              : #C8C8C8;
$color-dark-gray         : #4C4C4C;

// Modal Colors
$color-modal-close       : #fa0000;
$color-modal-close-focus : #c90000;